<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<!-- <p>Made with Love by {{author}}</p> -->
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(31, 30, 30);
        color: white;
        text-align: center;
        font: bold
    }
    </style>
    
    <div class="footer">
      <p>Created with love by Muhammad Rezki University of Indonesia 2018</p>
</div>

