.field_wrapper .table-borderless td{
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.h4-add-friend{
    color: #4169E1;
    font-family:'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.table-form>tbody>tr>th{
    table-layout: fixed;
    width: 120px;
}

.table-list>thead>tr>th {
    border-bottom: 1px solid black;
}

.add-friends-input-name,.add-friends-input-url{
    width: 850px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

input[id=add_friend].btn-block{
    width: 20%;
    padding: 6px;
    float: left;
    margin-left: 80%;
    background: #465C8B;
}

.table-list>thead>tr>th{
    table-layout: auto;
    width: 125px;
    margin-top: 150px;
    background: #244629;
    color: #F7EF6A;
    font-family: Graphik Web,Helvetica,Arial,sans-serif;
}

.table-list>tbody>tr>th{
    table-layout: auto;
    width: 125px;
    margin-top: 150px;
    color: black;
    font-family: Graphik Web,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.remove-friend-list a{
    color: #DF0707;
    padding: 65px;
}

@media only screen and (max-width:768px){
    .add-friends-input-name,.add-friends-input-url{
        width: 300px;
        height: 30px;
    }

    .table-form>tbody>tr>th{
        table-layout: auto;
        width: 80px;
    }

    input[id=add_friend].btn-block{
        width: 27%;
        padding: 5px;
        float: left;
        margin-left: 70%;
        font-size: 14px;
    }
}
